.home-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-container h2 {
  text-align: center;
}

.home-container ul {
  list-style-type: none;
  padding: 0;
}

.home-container li {
  margin-bottom: 10px;
}

.home-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-container button:hover {
  background-color: #0056b3;
}
/* Estilização do header */


/* Estilização do fundo e título */
.background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../imagem.jpg'); /* Substitua pelo caminho da sua imagem */
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  /*color: #ffd700;*/
  color: white;
  font-size: 80px;
  justify-content: center;
  align-items: center;
  margin-top: -30%!important;
  margin-bottom: 50px !important;
  line-height: 1.5 !important;
  text-shadow: 
  1px 1px 0 #000,  
  1px 1px 0 #000,
  1px 1px 0 #000,
  1px 1px 0 #000;
  font-family:"Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Estilização da seção de conta */
.account-section {
  justify-content: center;
  align-items: center;
  /*margin-top: -30%!important;
  margin-bottom: 50px !important;*/
  line-height: 1.5 !important;
  /*position: absolute;*/
  top: -30%!important;
  margin-bottom: -225px !important;
  right: 20%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
}

.account-section h2 {
  margin-bottom: 20px;
  font-family:"Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.account-section input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.account-section button {
  width: 100%;
  padding: 10px;
  background: #ffd700;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.account-section button:hover {
  background-color: #ff5800;
}

