<!--  -->

<div class="register-container">
    <h2>{{ tituloComp }}</h2>

    <!-- Definir o formulário -->
     <form (ngSubmit) = "onSubmit()"> <!-- Estamos realizando, aqui, um event-binding.
        
    ngSubmit: é a diretiva que define a "natureza"/funcionalidade do event binding, ou seja, enviar dados do formulário para a camada lógica do componente -->>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)] = "user.email" name="email" required /> <!--two-binding: vinculação de dados em via de duas mãos/mão dupla. O colchete [] é a definição de property binding -> nada mais é do que a camada lógica enviar dados para a view; o parênteses é a definição de event binding -> que, a partir da view, vincula-se dados na camada lógica, alterando, necessariamente, o valor original de alguma propriedade; o two-way binding é composto por estes dois elementos e um terceiro: a diretiva onChange (implícita) que observa se ocorre alguma alteração no pedaço na view que ele ocupa -->

            <div *ngIf = "errorMessage" class = "error-message">

                {{ errorMessage }}
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)] = "user.password" name="password" required /> 
        </div>

        <div class="form-group">
            <label for="fullname">Nome Completo</label>
            <input type="text" id="fullname" [(ngModel)] = "user.fullname" name="fullname" required /> 
        </div>

        
        <div class="form-group">
            <label for="role">Tipo de Usuario</label>
            <select id="role" [(ngModel)] = "selectedRole" name="role" required>
                <option value="ROLE_USER">Usuário</option>
                <option value="ROLE_ADMIN">Administrador</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">
            Cadastrar
        </button>

        <p>
            Já tem uma conta?<a routerLink = "/login">Acesse</a>
        </p>

     </form>
</div>
