<app-header-home></app-header-home>
<div class="full-screen-container">
    <div class="left-side">
        <h1>ForeverBank</h1>
    </div>
    <div class="login-container">
        <form (ngSubmit) = "onSubmit()"> 
        <h2>Login</h2>
        <label for="email">Email</label>
        <input type="email" id="email" name="email"  [(ngModel)] = "credentials.email" name="email" required />
        <label for="senha">Senha (8 dígitos)</label>
        <input type="senha" id="senha" name="senha"  [(ngModel)] = "credentials.senha" name="senha" required />
        <small class="senha-hint">Use a senha cadastrada</small>
        <a (click)="goToRecuperar()">Esqueci a senha</a>
        <button type="submit">Acessar <i class="arrow-icon">→</i></button>
    </form>
    </div>
</div>
