<app-header-home></app-header-home>
<div class="full-screen-container">
    <div class="left-side">
        <h1>ForeverBank</h1>
    </div>
    <div class="login-container">
        <h2>Login</h2>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
        <label for="senha">Senha (8 dígitos)</label>
        <input type="password" id="senha" name="senha" required>
        <small class="password-hint">Use a senha cadastrada</small>
        <a (click)="goToRecuperar()">Esqueci a senha</a>
        <button type="submit">Acessar <i class="arrow-icon">→</i></button>
    </div>
</div>
