<div class="sidebar">
    <button  (click)="goToContaHome()" class="menu-item">
      <i class="icon-conta-corrente"></i>
      <span>Conta Corrente</span>
    </button>
    <button (click)="goToTransferencias()" class="menu-item">
      <i class="icon-pix"></i>
      <span>Pix e Transferências</span>
    </button>
    <button (click)="goToPagamentos()"  class="menu-item">
      <i class="icon-pagamentos"></i>
      <span>Pagamentos</span>
    </button>
    <button (click)="goToCartoes()" class="menu-item">
      <i class="icon-cartoes"></i>
      <span>Cartões</span>
    </button>
    <button (click)="goToInvestimentos()" class="menu-item">
      <i class="icon-investimentos"></i>
      <span>Investimentos</span>
    </button>
    <button class="menu-item">
        <i class="icon-pontinhos"></i>
        <span>...</span>
      </button>
  </div>
  