.header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
  }
  
  .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .header nav ul li {
    margin: 0 15px;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }
  .login-button  {
    background: #ffd700;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
  }
button:hover {
    background-color: #ff5800;
  }
  .login-button .icon {
    margin-left: 5px;
  }