<div class="note-form-container">
<!--    <h2>{{ isEditMode ? 'Editar Nota' : 'Criar Nova Nota' }}</h2>
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label for="title">Título:</label>
    <input type="text" id="title" [(ngModel)]="note.title" name="title" required>
    </div>
    <div class="form-group">
    <label for="content">Conteúdo:</label>
    <textarea id="content" [(ngModel)]="note.content" name="content" required></textarea>
    </div>
    <button type="submit">{{ isEditMode ? 'Atualizar' : 'Criar' }}</button>
    <button type="button" (click)="onCancel()">Cancelar</button> 
    </form> -->
    </div>
